- Bhanu Prabhath Alapati-------------------------------------------------------------------------------10859

### 1. Create this dictionary:
**{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}
 using a dictionary comprehension.**

In [3]:
dic = {num : num*num*num for num in range(0,5)}
dic

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64}

### 2. if the length of a word is even print "even!"

In [10]:
st = 'Print every word in this sentence that has an even number of letters'

In [11]:
st = st.split()
stk = []
for i in st:
    if len(i)%2==0:
        stk.append("even")
    else :
         stk.append("odd")

In [12]:
stk

['odd',
 'odd',
 'even',
 'even',
 'even',
 'even',
 'even',
 'odd',
 'even',
 'even',
 'even',
 'even',
 'odd']

### 3. Generate Password: 17 characters , minimum 1 Uppercase, 1 lowercase, 1 digits and 2 minimun special characters

In [13]:
import string
import random

In [14]:
upper = string.ascii_uppercase
lower = string.ascii_lowercase
digit = string.digits
speci = string.punctuation

In [16]:
up_ch = random.choice(upper)
lw_ch = random.choice(lower)
di_ch = random.choice(digit)
sp_ch = [random.choice(speci) for _ in range(2)]

In [17]:
all_ch = list(upper + lower + digit +speci)
random.shuffle(all_ch)

In [19]:
other_ch = [random.choice(all_ch) for _ in range(13)]
password = [up_ch,lw_ch,di_ch]+sp_ch +other_ch
random.shuffle(password)
password = ''.join(password)
password

't?YUPO42%cgU0g7Y~X'

### 4. you are given a list which is [6, 15, 5, 3, 5, 14, 3, 202, 34, 235, 555, 6]. You have to sort it such that the seventh element is greatest of all, second element is greater than last element and second last element is not greater than sum of 8 and sixth element

In [37]:
nums =  [6, 15, 5, 3, 5, 14, 3, 202, 34, 235, 555, 6]

maximum = max(nums)
max_index = nums.index(maximum)
nums[6], nums[max_index] = nums[max_index], nums[6]

last = len(nums) - 1
if nums[1] < nums[last]:
    nums[1], nums[last] = nums[last], nums[1]

sec_last = last - 1
minimum = min(nums)
min_index = nums.index(minimum)
nums[sec_last], nums[min_index] = nums[min_index], nums[sec_last]

print(nums)
print("All the conditions are satisfied!")

[6, 15, 5, 3, 5, 14, 555, 202, 34, 235, 3, 6]
All the conditions are satisfied!

### 5. Write a program that prints the integers from 1 to 100. But for multiples of three print "Fizz" instead of the number, and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [20]:
for i in range(1,101):
    if i%15 == 0:
        print("FizzBuzz")
    elif i%5 == 0:
        print("Buzz")
    elif i%3 == 0:
        print("Fizz")
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

### 6. Write a program that accepts a sentence and calculate the number of letters and digits. Suppose the following input is supplied to the program.

In [21]:
s = input("Enter a string : ")
d = 0
a = 0
for i in s :
    if i in digit :
        d+=1
        continue
    if (i in lower) or (i in upper):
        a +=1
print(f"The number of digits are {d} and the number of letters are {a}")

Enter a string : Hello world times 345
The number of digits are 3 and the number of letters are 15

### 7. Exercise: Write a program which takes 2 digits, X,Y as input and generates a 2-dimensional array. The element value in the i-th row and j-th column of the array should be i*j

[[0, 0, 0, 0, 0],
 [0, 1, 2, 3, 4],
 [0, 2, 4, 6, 8]
 ..............]]

In [35]:
i = int(input("Enter the value of X : "))
j = int(input("Enter the value of Y : "))
arr = [[0 for _ in range(i)] for k in range(j)]

Enter the value of X : 4
Enter the value of Y : 3

In [36]:
for x in range(len(arr)):
    for y in range(len(arr[0])):
        arr[x][y] = x*y
arr

[[0, 0, 0, 0], [0, 1, 2, 3], [0, 2, 4, 6]]

## 8. For this challenge,
Create a bank account class that has two attributes:

owner balance and two methods:

deposit withdraw As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.

In [38]:
class acc:
    def __init__(self,owner,bal):
        self.owner=owner
        self.bal = bal
    def deposite(self,amount):
        self.bal = self.bal + amount
    def withdraw(self,amount):
        if self.bal<amount:
            print("The amount requested is higher than what exist in the account")
            return
        self.bal -= amount

In [39]:
trial = acc("Bhanu",1000)

In [40]:
print(trial.owner)
print(trial.bal)

Bhanu
1000

In [41]:
trial.deposite(1000)
print(trial.bal)

2000

In [42]:
trial.withdraw(1500)
print(trial.bal)

500

In [43]:
trial.withdraw(1500)

The amount requested is higher than what exist in the account