1.	Create a python program to find duplicate files by content. User will input path and it will scan all directories, sub-directories to find all duplicates files.Delete the found duplicate file.

In [199]:
import hashlib
import os

In [226]:
path = input("Enter path of the first file: ")
dirList = os.listdir(path)

Enter path of the first file: C:\Users\balapati\Downloads

In [227]:
hashList = []
duplicate = []
pathDirDict = {path : dirList}

In [228]:
for i in dirList:
    if '.' not in i:
        pathDirDict[path + '\\' + i] = os.listdir(path + '\\' + i)

In [229]:
'GGG.txt' in pathDirDict['C:\\Users\\balapati\\Downloads\\Assignment']

True

In [230]:
pathDirDict['C:\\Users\\balapati\\Downloads']

['.ipynb_checkpoints',
 '2March Pandas TEK.ipynb',
 '2March Python TEK - File Handling & Errors Execptions.ipynb',
 '2_March_assignment_II.docx',
 '3 March SQL-TEK.docx.pdf',
 '89b03992-c37c-4e7e-a3bd-439f96e76f4e.JPG',
 'A-8PP.jpg',
 'Assignment',
 'Assignment 1 - Bhanu Prabhath Alapati - Group 1 .ipynb',
 'Assignment 2.ipynb',
 'Automobile_price_data__Raw_.csv',
 'banking.csv',
 'Day Wise Plan - Data Engineering.xlsx',
 'desktop.ini',
 'FW List of Software and Whitelisting.msg',
 'GGG.txt',
 'IMG-5867.jpg',
 'IMG-5868.jpg',
 'IMG-5933.jpg',
 'IMG-5934.jpg',
 'MSTeamsSetup_c_l_.exe',
 'Python TEK day 5 and day 6.ipynb',
 'Python TEK day 6 (1).ipynb',
 'Python TEK day 6.ipynb',
 'Review 2.pdf',
 'Tek test.ipynb',
 'TEK Training Day 3.ipynb',
 'Training',
 'tri.jpg',
 'Untitled.ipynb',
 'Vamsi Dhananjay - Group 2.ipynb',
 'w3af.mo',
 'Weekly Schedule .png',
 '~$Day Wise Plan - Data Engineering.xlsx']

In [231]:
for i in pathDirDict:
    for j in pathDirDict[i]:
        if '.txt' in j:
            fileObj = open(i + '\\' + j)
            str1 = fileObj.read().encode()
            hash1 = hashlib.sha256(str1)
            if hash1.hexdigest() in hashList:
                duplicate.append(i + '\\' + j)
            else:
                hashList.append(hash1.hexdigest())
            fileObj.close()

In [235]:
for path in duplicate:
    print(os.remove(path, dir_fd=None))

None

 2.	Generate random Password with exact length = 6, with minimum 1 uppercase, 2 lowercase, 2 digits, and remaining special characters.Using these packages [random, strings]

In [1]:
import string
import random

In [33]:
upper = string.ascii_uppercase
lower = string.ascii_lowercase
digit = string.digits
speci = string.punctuation

up_ch = random.choice(upper)
lw_ch = [random.choice(lower) for _ in range(2)]
di_ch = [random.choice(digit) for _ in range(2)]
sp_ch = random.choice(speci)

all_ch = [up_ch,sp_ch]+lw_ch+di_ch
random.shuffle(all_ch)
all_ch=''.join(all_ch)
all_ch

'w3V(5v'

3.	Create 2D array and update the same 2D array provided that every prime number position should be replaced by cube of the positioned number.

In [69]:
import numpy as np

In [73]:
x = int(input("number of rows : "))
y = int(input("number of columns : "))

number of rows : 7
number of columns : 9

In [236]:
stk = [i for i in range(1,x*y+1)]
prim = []

In [237]:
for number in range (1,x*y+1):  
    cod =1
    if number > 1:  
        for i in range (2, int(number**(1/2))+1):  
            if (number % i) == 0: 
                cod =0
                break  
        if cod != 0:  
            prim.append(number-1)
            stk[number-1]=stk[number-1]**3

In [238]:
stk = np.array(stk)
stk = stk.reshape((x,y))

In [239]:
stk = stk.tolist()
stk

[[1, 8, 27, 4, 125, 6, 343, 8, 9],
 [10, 1331, 12, 2197, 14, 15, 16, 4913, 18],
 [6859, 20, 21, 22, 12167, 24, 25, 26, 27],
 [28, 24389, 30, 29791, 32, 33, 34, 35, 36],
 [50653, 38, 39, 40, 68921, 42, 79507, 44, 45],
 [46, 103823, 48, 49, 50, 51, 52, 148877, 54],
 [55, 56, 57, 58, 205379, 60, 226981, 62, 63]]

4.	Python program to get the sum of every cubed value and its previous integer.

In [173]:
stk = np.array(stk)
stk = stk.flatten()
stk = stk.tolist()
stk_copy = stk.copy()
for i in prim:
    stk[i] = stk_copy[i-1]+ stk_copy[i]

In [174]:
print(stk)

[1, 9, 35, 4, 129, 6, 349, 8, 9, 10, 1341, 12, 2209, 14, 15, 16, 4929, 18, 6877, 20, 21, 22, 12189, 24, 25, 26, 27, 28, 24417, 30, 29821, 32, 33, 34, 35, 36, 50689, 38, 39, 40, 68961, 42, 79549, 44, 45, 46, 103869, 48, 49, 50, 51, 52, 148929, 54, 55, 56, 57, 58, 205437, 60, 227041, 62, 63]

5.	Given two arrays, find their intersection. Examples: Input:  
    - arr1[] = [1, 3, 4, 5, 7]
    - arr2[] = [2, 3, 5, 6]

In [81]:
arr1 = [1, 3, 4, 5, 7]
arr2 = [2, 3, 5, 6]
inter = list(set(arr1)&set(arr2))
print(inter)

[3, 5]

6.	Create a 7 x 7  2D array having only multiples of 7. And return the last element of the same.

In [124]:
stk = [7*(i+1) for i in range(7*7)]
stk = np.array(stk)
stk = stk.reshape((7,7))
stk[6][6]

343

7.	Checker Board Patten using Numpy:
[   1   0   1   0   1   0   1
    0   1   0   1   0   1   0
    1   0   1   0   1   0   1
    0   1   0   1   0   1   0
    1   0   1   0   1   0   1  ]

In [131]:
def printcheckboard(n):
    x = np.zeros((n, n), dtype = int)
    x[1::2, ::2] = 1
    x[::2, 1::2] = 1
    for i in range(n):
        for j in range(n):
            print(x[i][j], end =" ")
        print()

n = int(input('Enter the side value : '))
printcheckboard(n)

Enter the side value : 5
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0
1 0 1 0 1
0 1 0 1 0

8.	Create a given Matrix:
[  [A,     B,     C,       D],
   [E,      F,     G,       H],
    [I,      J,      K,       L],
   [M,    N,     o,       P],
   [Q,     R,      S,       T],
   [U,     0,     W,      O ]]

Replace all the vowels by np.nan
A, E, I, O U  -- >  np.nan
Return the count of the missing values

In [128]:
alpha =  [ ['A', 'B', 'C', 'D'], ['E', 'F', 'G', 'H'], ['I', 'J', 'K', 'L'], ['M', 'N','O', 'P'], ['Q', 'R', 'S', 'T'], ['U', 'V', 'W', 'O' ]]

In [129]:
np.nan

nan

In [130]:
for i in range(len(alpha)):
    for j in range(len(alpha[0])):
        if alpha[i][j] in ['A','E','I','O','U']:
            alpha[i][j]= np.nan
alpha

[[nan, 'B', 'C', 'D'],
 [nan, 'F', 'G', 'H'],
 [nan, 'J', 'K', 'L'],
 ['M', 'N', nan, 'P'],
 ['Q', 'R', 'S', 'T'],
 [nan, 'V', 'W', nan]]